/*Section ID*/
#first {
    background: url("../img/first.jpg") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    padding: 200px;
}

#third {
    background: url("../img/third.jpg") no-repeat scroll 54% top / 100% auto rgba(0, 0, 0, 0);
    padding: 200px;
}

.home {
    color: #FFFFFF;
    margin: 10px 10px;
    padding: 10px 10px;
}

.homelogo {
    height: 40px;
    width: 100px;
}

#home-top {
background: url("../img/body.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% auto;
padding-top: 60px;
	}

#home-image {
    height: 125%;	
    background: url("../img/body.jpg") no-repeat scroll 54% top / 100% auto rgba(0, 0, 0, 0);
    width: 100%;
    opacity: 0.9;    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10; 	
}



#home-middle{
    min-height:620px;
}


body {
    padding-top:60px;
    background: #fff;
	margin: 0;
	font-family: Arial, Calibri, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #303030;
    background-repeat: no-repeat;
    background-image:right-align;
    background-size: 100%;    
    background-attachment:fixed;
    background-position:right center;
	}
    
body > .container {
    padding: 20px 10px;min-height:450px;
}
ol, ul { 
    margin-top:5px;
}
ol > li, ul > li {
    margin-bottom:5px;
}
.navbar-inner  > .container {
    padding: 10px;
}

hr.center {
    height: 1px;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0,0,0,.7), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, transparent, rgba(0,0,0,.7), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, transparent, rgba(0,0,0,.7), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, transparent, rgba(0,0,0,.7), rgba(0,0,0,0));
    border: 0;
    margin:10px 10px;
}

/*lines between posts light greenigh color*/

hr.soften {
    height: 1px;
    background-image: -webkit-linear-gradient(left, #CCFF33, rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, #CCFF33, rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, #CCFF33, rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, #CCFF33, rgba(0,0,0,.1), rgba(0,0,0,0));
    border: 0;
    margin:10px 0px;
}


/*added by Riti*/
.footer {
    border-top: 1px solid #093; /*green*/
    color: #FF5555;/*pink*/
    padding: 10px 0;
    text-align: center;
    height: auto; 
}
/*begin footer1*/

.footer1 {
 
    /*border-top: 0.1px solid #FFFFFF ;*/
    color: #a8a8a3;/*gray*/
    padding: 10px 0;
    text-align: center;
}
/*end footer1*/

/*begin footer2*/

/*begin footer2*/

.footer2 {
    
    border-top: 0px solid #A0A0A0;
    color: #555555;/*gray*/
    padding: 10px 0;
    text-align: center;
}
/*end footer2*/


.footer > .container {
    padding: 5px 5px;
}

.footer-links {
    list-style-type:none;
}
.footer-links li {
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}
.footer-links li a {
    color:#969696;
}
.footer-links li a:hover {
    color:#525252;
}
legend {
    font-size:18px;
    line-height:34px;
    margin-bottom:0px;
}
.padTopBottom40 {
    margin-top:40px;
    margin-bottom:40px;
}
.padTopBottom20 {
    margin-top:20px;
    margin-bottom:20px;
}
.padTopBottom5 {
    margin-top:5px;
    margin-bottom:5px;
}
.padLeft20 {
    margin-left:20px;
}
.padLeft40 {
    margin-left:40px;
}
.padRight10 {
    margin-right:10px;
}
.padTop20 {
    margin-top:20px;
}
.padBottom20 {
    margin-bottom:20px !important;
}
.padTop40 {
    margin-top:40px;
}
.textRight {
    text-align:right !important;
}
.textLeft {
    text-align:left;
}
.textCenter {
    text-align:center;
}
.raised {
    border: 0px solid #33ccff;
    /*box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 8px rgba(82, 168, 236, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset !important;*/
}
.simple-box-shadow {
    border: 1px solid rgba(82, 168, 236, 0.8) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6) !important;
}
.btn-width {
	min-width:220px;
}
.btn-small-width {
    min-width:70px;
}
select.input-xlarge {
    width:284px;
}

/*
pages controller specific
*/
.navbar-inner .nav {
    border-left: 2px solid;
    margin-left:10px;
}
.navbar-inner .nav > li {
    padding-left: 20px;
}
.navbar-inner .nav > li > a {
    margin-bottom:5px;
}
.navbar-inner .navbar-form{
    margin-right:10px;
}
.navbar-inner .navbar-form > .control-group{
    display:inline;
}
.featured-box {
    padding: 10px 20px;
    width: 630px;
   /* border-radius: 66px 66px 66px 66px;*/
    /*border: 1px solid #E8E8E8;/*light gray used to border featured member box*/*/
}
.featured-box > .details {
    min-height: 500px;
    border-left: 1px solid #999999;
    float: left;
    margin-left: 15px;
    padding-left:10px;
    width: 200px;
}
.featured-box > h3 {
    text-align: center;
    margin-bottom:0px;
}
.featured-box > h4 {
    text-align: right;
    padding-right:50px;
}
.featured-side-div {
    padding: 0px;
    width: 240px;
    text-align:center;
}   
.featured-side-div > .side-box {
    height: 230px;
    padding: 10px 20px;
   /* border: 1px solid #E8E8E8;/*light gray used to border featured member box*/*/
   /* border-radius: 30px 30px 30px 30px;*/
}
.carousel .item-divs {
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    position:relative;
    width:400px;
    height:500px;
}
.login-form {

    border: 1px solid #8DC200;
    border-radius: 4px 4px 4px 4px;
    margin: 30px auto 30px;
    padding:20px;
    width: 675px
	
}
.login-form form {
    margin-bottom:0px;
}
.popover {
    width:auto;
}
.popover-title {
    background-color:#f1f1ff;
}
.pricing-med-box {
    border-radius: 30px 30px 30px 30px;
    margin-top:20px;
    margin-bottom:20px;
}
.price {
    display: block;
    font-size: 80px;
    font-style: italic;
    line-height: 130px;
}
.tab-pane p {
    line-height:22px;
}
p.anchor{
    display: block;
    height: 70px;
    margin-top: -70px;
    visibility: hidden;
}
.flaw-content {
    margin-top:80px;
    width:50%;
    float:left;
}
.flaw-img {
    width:50%;
    float:right;
}
/*
members controller specific
*/
.header-pro-img {
    width:25px;
    padding:2px !important;
}
.no_noti {
    color:#ff8000;
    /*float: left;*/
    margin-top: 5px;
}
.noti_count {
    font-size: 10px;
    font-style: italic;
    padding: 1px 3px;
    position: absolute;
    right: -10px;
}
li.chkbox_menu:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    background-color: #0081c2;
    /*Dropdown: only for email notification. Use to be 0088cc to 0077B3 */
    background-image: -moz-linear-gradient(top, #ff5500, #ff5500);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff5500), to(#ff5500));
    background-image: -webkit-linear-gradient(top, #ff5500, #ff5500);
    background-image: -o-linear-gradient(top, #ff5500, #ff5500);
    background-image: linear-gradient(to bottom, #ff5500, #ff5500);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.navbar-inner .form-search {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 110px;
}

/*line between posts and profile picture in home after log in*/
.home-side-bar {
    padding:20px;
    border-right:.5px solid #A1DAB4;
    text-align:center;
}
.home-side-bar > div.img-rounded {
    padding:10px;
  /*  background-color: #ffffff;*/
    border: 1px solid #8DC200;
    border-radius: 4px 4px 4px 4px;
}
.home-feeds-bar {
    padding:20px 0px;
}
.post, .message {
    min-height: 50px;
    padding:10px !important;
    border:1px solid #f1f1ff;
}
.post .delete-post {
    float: right;
    margin-top: -20px;
}
.delete-post > button{
    padding:5px;
}
.post > .post-content {
    margin-left:80px;
}
.post-content span.image {
    display:block;
}
.post-content span.image  img{
    display: inline-block;
    max-height: 250px;
    max-width: 300px;
}
.post-content .time, .message-content .time {
    font-size:13px; 
}
.post-content strong > a {
    color:#303030;
}
.post-content strong > a:hover {
    color:#005580;
}
.message > .message-content {
    margin-left:70px;
}
.message > .message-content p{
    margin-bottom:0px;
}
.message .delete-message {
    float: right;
    margin-bottom: 0px;
    margin-top: -20px;
}
.message .delete-message button {
    padding:5px;
}
.post > .post-content > div {
    min-height: 40px; margin-bottom: 10px;
}
.message > .message-content > div.content {
    min-height: 40px;
}
.comments {
    display:none;
    padding: 5px;
    border: 1px solid rgb(82, 168, 236);
    background-color: rgb(255, 255, 255);
}
.comments > .comment {
    position:relative;
}
.comment > p {
    min-height:50px;
    margin-left:60px;
    width:75%;
}
.comment-time {
    font-size:11px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.add_comment {
    margin: -5px;
    padding: 10px;
    background-color: rgb(241, 241, 255);
}
/*comment text*/
.toggle_comments {
    color:#FD8D3C;cursor:pointer;
    font-size:14px;
}
.delete_comment {
    position: absolute;
    right: 0px;
    top: 28px;
}
.follow-following  {
    min-height: 70px;
    border:1px solid #f1f1ff;
}
.follow-following > .content {
    margin-left:80px;
    margin-top:10px;
}
.follow-following > .content > h4{
    display:inline;
}
.follow-following > .content > form{
    margin-top:10px;
    margin-bottom:0px;
}
.f-f_title > a {
    color:#303030;
}
.f-f_title > a:hover {
    color:#005580;
}   

/*Share something text box*/
.addPostBox {
    background-color: #ffffff;
    border: 1px solid #8DC200;/*drak gray*/
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.profile-header {
    background-color: #ffffff;
    border: 1px solid #969696;
    border-radius: 4px 4px 4px 4px;
    min-height: 20px;
    padding: 19px;
    z-index: 1;
    margin-top: 140px;
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-width: 0px;
    margin-left: 0px;
}
.profile-header > h3 {
    display:inline;
    margin-left:20px;
}
.pp-img {
    overflow: hidden;
    max-height: 220px;
    max-width: 220px;
}
.highlight-post {
    background-color: #ffffff;
    border: 1px solid #52A8EC;
    border-radius: 4px 4px 4px 4px;
}
.drop-shadow:before, .drop-shadow:after {
    content: "";
    position: absolute;
    z-index: -2;
}
.perspective:before {
    bottom: 5px;
    box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
    height: 35%;
    left: 80px;
    max-width: 200px;
    transform: skew(40deg);
    transform-origin: 0 100%;
    width: 50%;
}
.drop-shadow:before, .drop-shadow:after {
    content: "";
    position: absolute;
    z-index: -2;
}
.drop-shadow {
    background: none repeat scroll 0 0 #CDCAB2;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    float: left;
    position: relative;
    margin-top: -130px;
    margin-left:20px;
}
.nav-tabs {
    margin: 30px -19px 0px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 4px 4px 4px 4px;
}
.input-comment  {
    margin-left: 0px;
    margin-bottom: 0px;
    width:444px;
    height:20px;
}
.profile-menu {
    margin-left:0px !important;
    margin-top:20px;
    padding:0px;
    padding-top:1px;
}
.profile-content {
    margin-top:20px;
    background-color:#fafafa;
    padding-top:0px;
}
.profile-content > .tab-pane {
    margin-top:19px;
}
.profile-sidemenu {
    margin:0px 0px;
    list-style:none;
}
.profile-sidemenu li {
    margin-bottom:1px;
    background-color:#fafafa;
}
.profile-sidemenu li > a{
    display:block;
    padding:5px 20px;
    position:relative;
}

/*profile menu*/
.profile-sidemenu li > a:hover{
    background-color:#FD8D3C;/*light orange*/
    border: 2px solid #D94701;/*dark orange*/
    color:#fff; /*white*/
}
.profile-sidemenu li.active > a{
    color:#555555; /*dark*/
    background-color:#FFFF99; /*light yellow*/
    border: 2px solid #FED98E; /*dark yellow*/
}
.profile-sidemenu li > a > i{
    position: absolute;
    right: 12px;
    top: 9px;
}
span.title {
    width: 150px;
    display: inline-block;
    font-weight:bold;
}
.image-divs {
    height:185px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    position:relative;
}
.pp-img > form {
    margin:0px;
}
.image-divs > form > .input_picture, .pp-img > form > .input_pp {
    display:none;
}
.image-divs > form > .uploadFile , .pp-img > form > .uploadProPic{
    position: absolute;
    padding: 5px;
    right: -15px;
    bottom: -15px;
}
.image-divs > form > .deletePic {
    display:none;
    position: absolute;
    padding: 5px;
    right: 22px;
    bottom: -8px;
}
.image-loader {
    position:absolute;
    top:50%;
    left:38%;
}
.loading {
    background-color:white;
    opacity:0.4;
}
.search_results {
    text-align: left;
    overflow: auto;
    height: 500px;
}
.search_results ul{
    list-style-type:none;
}
.search_results ul li{
    min-height:50px;
    margin-bottom:10px;
}
.search_results ul li > h4{
    display:inline-block;
    width: 170px;
}
.search_results ul li > .match-detail{
    margin-left: 60px;
}
.search_results ul li > .match-detail > span{
    display: block;
    font-size: 14px;
    line-height: 16px;
}
.success-msg {
    position: absolute;
    right: 0px;
    top: -50px;
}
.pop_box{
    max-height:500px;
    overflow:auto;
}
.msg-box {
    margin: 0px -15px 5px;
    padding: 10px 15px;
    border: 1px solid #E3E3E3;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.msg-box.open {
    background-color: #f1f1f1;
}
.msg-box.closed {
    background-color: #f1f1ff;
}
.msg-header {
    min-height:25px;
}
.msg-header > .msg-title {
    display:block;
}
.msg-header .time {
    float:right;
    font-size:14px;
}
.msg-header > .msg-description {
    color:#999999;
    margin-left:19px;
}
.msg-content {
    border-top: 1px solid #E5E5E5;
    padding: 4px 19px;
}

.user-search-results {
    position: absolute;
    right: 5px;
    top: 45px;
    width: 290px;
    display:none;
    background-color:white;
    padding:10px;
}
.user-search-results .result {
    margin-bottom:5px;
}
.user-search-results .result:hover{
    border:1px solid #e5e5e5;
}
.user-search-results .result-content {
    float: left;
    margin-left: 10px;
    width: 205px;
}
.user-search-results .result-content h5 {
    margin:0pc;
}

/*
admin
*/
.block-form, .delete-form, .approve-form,
.reminder-form, .waive-form , .privilege-form, .edit-form, .reactivate-form{
    display:inline;
    margin:0px;
}


/*search page css*/
.bordernone{
    border: none;
}
.search_wrapper{
    float: left;
    width: 65%;
    border-left: 0.5px solid #A1DAB4;
}
.search_wrapper .header{
    width:100%;
    text-align: center;
}
.search_wrapper .search_content{
    padding: 5px;
}
.search_wrapper .searchbox{
    width:30%;
    padding: 5px;
    margin: 2px;
    border: 1px solid #8DC200;
    border-radius: 4px;
    height: 120px;
    float: left;
}
.search_wrapper .searchname{
    color:#FE9929;
}
.search_wrapper .search_content1{
    display:block;line-height:14px;
}
.firsttime_profile_container{
	padding: 10px;
	height: 90px
}

.profile_firsttime{
height:200px;
width:200px;
}
.upload_additional_pic1{
	margin: 10px 20%;
	float: left;
	width: 100%;
	font-size: 20px;
}
.upload_additional_pic{
clear: both;margin: 10px 0px;padding: 10px;text-align: center;
}
.looking{
border:1px solid #CCCCCC;text-align: center;margin: 1% 5%;padding: 5px;
}
.margin1{
margin: 0px 20% !important;
}
.margin2{
margin:2% 10%;
}

/* Social Media icons */
.social-bar {
	position: fixed;
	top: 132px;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 999;
	}
.social-bar li {
	border-top: 0px solid #323232; /* No border on the top */
	margin: 0; 
	width: 41px;
	}
.social-bar li:first {
	border-top: none;
	} 

.social-bar span, .social-bar a {
	width: 41px;
	height: 41px;
	padding: 0;
	cursor: pointer;
	display: block; 
	}  

.social-bar li.googleplus span {
	text-indent: 0em; 
	background: #191919;
	} 
.social-bar li.googleplus span div {
	margin-top: 18px;
	margin-left: 1px;
	}

.social-bar span.facebook {
	background-position: 0 0;	
	}
.social-bar span.twitter {
	background-position: -41px 0;	
	}
.social-bar span.linkedin {
	background-position: -82px 0;	
	}
.social-bar a.contact {
	background-position: -123px 0;	
	}

.social-bar span.facebook:hover {
	background-position: 0 -41px;	
	}
.social-bar span.twitter:hover {
	background-position: -41px -41px;	
	}
.social-bar span.linkedin:hover {
	background-position: -82px -41px;	
	}
.social-bar a.contact:hover {
	background-position: -123px -41px;
	}	
.social-bar li.googleplus span:hover {
	background: #be4f39;
	}


/* End Social Media icons */

.home-words {
    color:#FFBF00;
}