.btn-link {
    color:#ff5555;
    outline:none !important;
    text-decoration:none;
}

.btn-link:hover{
    text-decoration:none;
    color:#990000;
}

div, input, select, textarea, table, label, a.select2-choice {
    border-radius: 0 !important;
}
.popover {
    max-width: none;
}
.pop-foot { 
    background-color: #f2f2f2;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    padding: 10px;
}
form label {
    margin-bottom:5px;
    font-weight: 500;
}
.form-actions {
    border-top: 1px solid #888888;
    padding-top:15px;
}
#toast-container > div {
    width:420px !important;
}
.toast-top-right {
  top: 80px !important;
  right: 5px !important;
}

.thumbnail {
    background-color:transparent;
}

.bordered {
    padding:20px;border:1px solid #E0E0E0;
}

.content p {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 2%;
    text-align: left;
}

hr {
    border-color: #e0e0e0;
}

ul.custom-ul { padding-left:20px; list-style:none; }
ul.custom-ul > li { margin-bottom:10px; }
ul.custom-ul > li:before {    
    font-family: 'Fontsection4';
    content: '\f101';
    margin:0 5px 0 -15px;
}

.follow-form {
    display:inline-block;
}

#inbox {
    padding:10px;
}
.nav-tabs > li.active > a {
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:1px ;
}
.message > .message-content {
    margin-left:70px;
}
.message {
    padding:10px 5px;
}

.dropdown-menu {
    min-width:190px;
}

/***
Select2 Plugin
***/
.form-group-sm {
    margin-bottom:7px;
}
.has-error .select2-container .select2-choice, .has-error .select2-container .select2-choices {
    border-color: #a94442;
}
.form-control .select2-choice {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  background-image: none;
  filter: none;
  height: 34px;
  padding: 3px 0 0px 12px;
}

.form-group-sm .select2-choice {
  height: 30px;
  padding: 0px 0 0px 12px;
}

.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #e5e5e5;
  background-color: #fff;
  background-image: none;
  filter: none;
}

.select2-drop {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  filter: none;
  border-top: 0;
}

.select2-drop-auto-width {
  border-top: 1px solid #e5e5e5;
}

.select2-drop.select2-drop-above {
  border-top: 1px solid #e5e5e5;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.select2-drop-active {
  border: 1px solid #999999;
  border-top: 0;
}

.select2-container .select2-choice .select2-arrow {
  background-image: none;
  background-color: #fff;
  filter: none;
  border-left: 1px solid #e5e5e5;
}

.select2-container.select2-container-active .select2-arrow,
.select2-container.select2-dropdown-open .select2-arrow {
  border-left: 0 !important;
}

.select2-container .select2-choice .select2-arrow b {
  background-position: 0 1px;
}

.select2-search input {
  border: 1px solid #e5e5e5;
  background-color: #fff !important;
  filter: none;
  margin: 0;
  outline: 0;
  border: 1px solid #e5e5e5;
  webkit-appearance: none !important;
  color: #333333;
  outline: 0;
  height: auto !important;
  min-height: 26px;
  padding: 6px 6px !important;
  line-height: 20px;
  font-size: 14px;
  font-weight: normal;
  vertical-align: top;
  background-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 5px;
}

.form-control.select2-container, .form-group-sm .form-control.select2-container {
  border: 0;
  height: auto !important;
  padding: 0px;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #999999 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.select2-dropdown-open .select2-choice {
  border-bottom: 0 !important;
  background-image: none;
  background-color: #fff;
  filter: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #999999 !important;
  border-top: 0 !important;
  background-image: none;
  background-color: #fff;
  filter: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border: 1px solid #999999 !important;
  border-bottom: 0 !important;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px;
}

.select2-results {
  margin: 5px 0;
}

.select2-results .select2-highlighted {
  background: #eee;
  color: #333;
}

.select2-results li em {
  background: #feffde;
  font-style: normal;
}

.select2-results .select2-highlighted em {
  background: transparent;
}

.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  padding: 3px 7px 4px;
  background: #f4f4f4;
  display: list-item;
}

.select2-container-multi .select2-choices {
  padding-left: 6px;
  min-height: 34px;
  border: 1px solid #e5e5e5;
  background-image: none;
  background-color: #fff;
  filter: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #999 !important;
  background-image: none;
  background-color: #fff;
  filter: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 5px 0 3px 5px;
  border: 1px solid #e5e5e5;
  background-image: none;
  background-color: #fff;
  filter: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* Custom Margins */
.mrg5T {
    margin-top:5px;
}
.mrg5R {
    margin-right:5px;
}
.mrg5B {
    margin-bottom:5px;
}
.mrg5L {
    margin-left:5px;
}
.mrg10T {
    margin-top:10px;
}
.mrg10R {
    margin-right:10px;
}
.mrg10B {
    margin-bottom:10px !important;
}
.mrg10L {
    margin-left:10px;
}
.pad5T {
    margin-top:10px;
}
.pad5R {
    margin-right:10px;
}
.pad5B {
    margin-bottom:10px;
}
.pad5L {
    margin-left:10px;
}
.pad10T {
    margin-top:10px;
}
.pad10R {
    margin-right:10px;
}
.pad10B {
    margin-bottom:10px;
}
.pad10L {
    margin-left:10px;
}

/* Display */
.dis-block {
    display:block;
}
.dis-in-block {
    display:inline-block;
}
.dis-inline {
    display:inline;
}

/* Vertical Align rows */
.v-align-row {
    display:table;
    width: 100%;
}
.v-align-row > [class*="col-align-"] {
    float: none;
    display: table-cell;
}
.v-align-row > .col-align-top {
    vertical-align: top;
}
.v-align-row > .col-align-middle {
    vertical-align: middle;
}
.v-align-row > .col-align-bottom {
    vertical-align: bottom;
}

/* section5 Images and Extra Images*/
.image-divs {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 240px;
    position: relative;
}
.image-default {
    background-image:url('../images/man-icon.png');
}

.section5-pic, .extra-pics {
    max-height: 250px;
    max-width: 270px;
    margin: auto;
    overflow:hidden;
}

#user-dp {
    position:relative;
}
.loading {
    background-color:white;
    opacity:0.4;
}
.image-loader {
    position:absolute;
    top:38%;
    left:40%;
}

form #dp-input, form .input_picture {
    display:none;
}

/* Members Header */
li.chkbox_menu:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    background-color: #0081c2;
    /*Dropdown: only for email notification. Use to be 0088cc to 0077B3 */
    background-image: -moz-linear-gradient(top, #ff5500, #ff5500);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff5500), to(#ff5500));
    background-image: -webkit-linear-gradient(top, #ff5500, #ff5500);
    background-image: -o-linear-gradient(top, #ff5500, #ff5500);
    background-image: linear-gradient(to bottom, #ff5500, #ff5500);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

#header-dp {
    display: inline-block;
    max-width: 34px;
}

/* Notifications */
.noti-ul li {
    padding:5px 10px;
}
.noti-pop-up {
    width:450px;
}
.noti-li {
    padding-right:25px !important;
}
.nav-icon {
    line-height: 30px;
    color:#ff5555;
    font-size: 18px;
}
.nav-icon.active {
    color:#000;
}
.noti-icons {
    position:relative;
}
.noti-icons .badge {
    font-size: 10px;
    font-style: italic;
    padding: 1px 3px;
    position: absolute;
    right: -12px;
    top: -8px;
    background-color: #b94a48;
    height: 16px;
}
.nav-icon:hover {
    line-height: 30px;
    color:#000;
}
.friends_for_noti, .messages_for_noti, .activities_for_noti {
    width:450px;
    padding: 5px;
}
.activities_for_noti.unread, .messages_for_noti.unread {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 20px;
    padding-right: 20px;
    width: 480px;
}
.unread {
    background-color: #E5E5E5;
    border-bottom: 1px solid #C5C5C5;
    border-top: 1px solid #C5C5C5;
}
.messages_for_noti .unread-sign {
    top:0px;
    left:-5px;
}
.view_more {
    background-color: #F7F7FA;
    border-top: 1px solid #E1E1E8;
    border-radius: 0 0 5px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    padding: 8px 14px;
    font-weight: bold;
    margin: 0 -15px -10px;
    text-align: center;
}

.coralbg .text-info{color:#FFF}
.coralbg .text-info:hover{color:#0F0}
@media (max-width: 480px) {
    .noti-pop-up, .messages_for_noti {
        width:200px;
    }
    .visible-xxs-block {
        display:block !important;
    }
    .col-xxs-12 {
        width:100% !important;
    }
    .post span.image img{
        max-height: 220px !important;
        max-width: 200px !important;
    }
}

/* Support Pages */
.support-section .nav-tabs {
    border-bottom:0px;
    margin-bottom: 0;
}
.support-section .nav-tabs > li > a {
    border-radius:0px;
}
.support-section h4,
.support-section h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.support-section .boxContent {
    min-height: 450px;
}
.support-section .boxContent {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #dadada;
}
.support-section .boxContent-inner {
    padding: 20px;
}
.support-section h2.page-header {
    font-size: 33.04px;
    font-weight: 300;
    margin: 0 0 20px;
}
.support-section h2.page-header span.header-subTitle {
    color: #555;
    display: block;
    font-size: 16px;
    padding-top: 10px;
}
.support-section .panel-group .panel {
    border-radius: 0;
    margin-bottom: 0;
}
.support-section .panel-default {
    border-color: #ddd;
    text-align:left;
}
.support-section .panel-default .panel-heading {
    background: none repeat scroll 0 0 #fff;
}
.support-section .panel .panel-heading a {
    color: inherit;
    text-decoration: none;
}
.support-section .panel .panel-heading a:hover {
    color: #cf2257;
    text-decoration: none;
}
.support-section .panel .panel-title {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 0;
}
.support-section .panel-default i {
    font-size: 15px;
}
.support-section .panel .panel-body ol li,
.support-section .panel .panel-body ul li,
.support-section .panel-body,
.support-section .panel-body p,
.support-section p {
    font-size: 14px;
}
.support-section ul, .support-section ol {
    margin-bottom:18px;
}
.support-section h4.bodyTitle, .support-section strong {
    font-weight: 600 !important;
}
.global-sidebar {
   
}
.global-sidebar .sidebar-inner {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #dadada;
    padding: 20px 0;
}
.global-sidebar .sidebar-content {
    padding: 10px;
}
.global-sidebar .sidebar-content .text-muted {
    color: #9b9b9b;
    font-size: 13px;
}
.top10 {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
.global-sidebar .sidebar-content .text-muted {
    color: #9b9b9b;
    font-size: 13px;
}
.top20 {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}
.media-list {
    list-style: none outside none;
    padding-left: 0;
}
.media-list li {
    border-bottom: 1px dashed #f6f7f8;
    font-weight: 600;
    line-height: 25px;
}
.global-sidebar span.glyphicon {
    color: #cf2257;
}
.media, .media-body {
    color: #3b5998;
    font-weight: normal;
    line-height: 16px;
    overflow: hidden;
    position: relative;
}
blockquote {
    background: none repeat scroll 0 0 #f5f5f5;
    border-left: medium none;
    font-size: 14px;
    margin: 0 0 20px;
    padding: 20px;
}

/* Post Related */
.content p small {
    font-size: 85%;
}
.post span.image {
    display:block;
}
.post span.image img{
    display: inline-block;
    max-height: 250px;
    max-width: 300px;
}
.post .post-title .post-action {
    font-size: 16px;
}
textarea.form-control.input-comment  {
    height:40px;
}
.comment-time {
    border-top:1px solid #f2f2f2;
}
.list-group-item {
    padding:5px 15px;
}
/* OWN section5 */
.user-image a {
    transition:none !important;
    margin-right:10px;
}
.user-image form, .user-image form span, 
.user-image a, .user-image a span {
    opacity:0
}
.user-image:hover form, 
.user-image:hover a {
    opacity:1;
}
.user-image form:hover span,
.user-image a:hover span {
    opacity:1;
}

@media (max-width: 767px) {
    .user-image form, .user-image form span{opacity:1}
    .user-image a, .user-image a span{opacity:1}
}

.titleHeader {
    background: none repeat scroll 0 0 #ff5555;
    color: #fff;
    margin: 0;
    padding: 10px;
}

.global-sidebar .sidebar-content {
    border: 1px solid #ccc;
    padding: 10px;
}

.media,.media-body{
    overflow:hidden;zoom:1;color:#3b5998;line-height:16px;font-weight:normal;position:relative;margin-bottom:10px;font-size: 14px;}
.media .close{bottom:3px;right:3px;display:none;position:absolute}
.media:hover .close{display:block}
.media,.media .media{margin-top:15px}
.media:first-child{margin-top:0}