/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline; 
}

body {
    line-height: 1.2em; 
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: normal; 
}

.form-control{font-size:16px; height:auto;}

.advancesearch .form-control, .advancesearch .control-label{font-size:65%; margin-bottom:7px;}

.btn-default{background-color:#fa396f;color:#fff; border-color:#990000;}

.btn-default:focus,  .btn-default:hover{
    background:#ff5555;
    border-color:#990000;
    color:#fff;
}

ol, ul {
      list-style: none; 
}

.well-sm{
    margin-top:100px;    
}

blockquote {
      quotes: none; 
}

blockquote:before, blockquote:after {
    content: '';
    content: none; 
}

#map{ margin: 0; padding: 0; }

.mapHolder{
    position:relative;        
}

del {
      text-decoration: line-through; 
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

body{
    /* background-color:#f2f2f2; */
    background-color:#ffffff;
    color:#000;
    font-size:16px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:300;
}

a{
    color:#ff5555;
    outline:none !important;
    text-decoration:none;
}

a:hover{
    text-decoration:none;
    color:#990000;
}

.displayBlock{
    display:block !important
}

.btn{font-size:16px}

.widthFull{width:100%}

.thumb{
	width:150px;
	height:150px;
}

#inset {
	background: none repeat scroll 0 0 #53a053;
	min-height: 220px;
	max-height:100%;
	height:auto;
	width: 250px;
	text-align:center;
	float:right;
	position:relative
}

#inset.lg {
    float: left;
    height: auto;
    max-height: 100%;
    min-height: 110px;
    width: 110px;
}

#inset.lg h1 {
    font-size: 50px;
    line-height: 110px;
}

#inset.sm {
    float: left;
    height: auto;
    max-height: 100%;
    min-height: 75px;
    width: 75px;
}

#inset.sm h1 {
    font-size: 40px;
    line-height: 80px;
}

#inset.xs {
    float: inherit;
    height: auto;
    max-height: 100%;
    min-height: 50px;
    width: 56px;
}

#inset.xs h1 {
    font-size: 30px;
    line-height: 50px;
}

#inset h1 {
	color: #366436;
	font-family: "League-Gothic",Courier !important;
	font-size: 150px;
	line-height:250px;
	text-shadow: 0 2px 3px #60ba60;
	text-transform: uppercase;
}

#inset span{
	bottom: 5px;
    left: 0;
    position: absolute;
    width: 100%;
}

#inset span a{color:#fff;}

.carousel-control.left, .carousel-control.right{background:none;}

#firsttime_partner #main{
    background-image:url(../images/firsttime_partner.png);
    background-repeat:no-repeat;
    background-position: 100% 75%;    
    background-attachment:fixed;
}

#firsttime_section5 #main{
    background-image:url(../images/firsttime_section5.png);
    background-repeat:no-repeat;
    background-position: 100%;    
    background-attachment:fixed;
}

.noBg{
    background:none;    
}

.noBorder{
        border:none;
}

.list-group.gallery{
    display: inline-block;
    margin-top: 20px;
    width:100%;
    height:auto;
}

.gap {
  	background: transparent center no-repeat;
  	background-size: cover;
}

.skrollr .gap {
  	background: transparent !important; 
}

.gap-50 {
  	height: 50%;
}

.gap-fixed-height-large {
  	height: 600px !important; 
}

.gap-100 {
  	height: 100%; 
}

.gap-fixed-height-small {
	height: 300px !important;
	position: relative;
	z-index: 2; 
}
  
.gap-fixed-height-xs {
  	height: 200px !important;
  	position: relative;
  	z-index: 2; 
}

/*=========================================================
                    tile-progress
=========================================================*/
.tile-progress {
background-color: #303641;
color: #fff;
}
.tile-progress {
background: #00a65b;
color: #fff;
margin-bottom: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.tile-progress .tile-header {
padding: 15px 20px;
padding-bottom: 40px;
}
.tile-progress .tile-progressbar {
height: 2px;
background: rgba(0,0,0,0.18);
margin: 0;
}
.tile-progress .tile-progressbar span {
background: #fff;
}
.tile-progress .tile-progressbar span {
display: block;
background: #fff;
width: 0;
height: 100%;
-webkit-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-moz-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-o-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
}
.tile-progress .tile-footer {
padding: 20px;
text-align: right;
background: rgba(0,0,0,0.1);
-webkit-border-radius: 0 0 3px 3px;
-webkit-background-clip: padding-box;
-moz-border-radius: 0 0 3px 3px;
-moz-background-clip: padding;
border-radius: 0 0 3px 3px;
background-clip: padding-box;
-webkit-border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
}
.tile-progress.tile-red {
background-color: #f56954;
color: #fff;
}
.tile-progress {
background-color: #303641;
color: #fff;
}
.tile-progress.tile-blue {
background-color: #0073b7;
color: #fff;
}
.tile-progress.tile-aqua {
background-color: #00c0ef;
color: #fff;
}
.tile-progress.tile-green {
background-color: #00a65a;
color: #fff;
}
.tile-progress.tile-cyan {
background-color: #00b29e;
color: #fff;
}
.tile-progress.tile-purple {
background-color: #ba79cb;
color: #fff;
}
.tile-progress.tile-pink {
background-color: #ec3b83;
color: #fff;
}

/*=========================================================
                        Reg Fb Connect
=========================================================*/
.regfbconnect {
    background-image: linear-gradient(to top, #23639b, #287aba);
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin: 0 0 5px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
}

.regfbconnect:hover{
    color:#fff;    
}

.notetxt {
    color: #ee6296;
    display: inline-block;
    padding: 0 0 10px;
}

.orline {
    background: url("../images/reggrayline.png") repeat-x scroll left center rgba(0, 0, 0, 0);
    margin: 0 auto;
    width: 80%;
}

.ortxt {
    background: none repeat scroll 0 0 #fff;
    color: #969fa4;
    display: inline-block;
    font-size: 20px;
    padding: 0 10px;
}

.input-group-addon.beautiful input[type="checkbox"],
.input-group-addon.beautiful input[type="radio"] {
    display: none;
}

label input[type="file"] {
    position: fixed;
    top: -1000px;
}

.uploadOpt a{
    color:#000;    
}

.green-coloredBg {
    background: none repeat scroll 0 0 #5cb85c;
    color: #fff;
}

.orange-coloredBg {
    background: none repeat scroll 0 0 #f76043;
    color: #fff;
}

.secondary-coloredBg {
    background: none repeat scroll 0 0 #fa396f;
    color: #fff;
}

/*=========================================================
                        Margin
=========================================================*/

.noMargin{margin:0px !important;}

.marginHorizontal{margin:0px 15px !important;}

.marginVertical{margin:15px 0px!important;}

.marginTop{margin-top:15px !important;}

.marginBottom{margin-bottom:15px !important;}

.marginLeft{margin-left:15px !important;}

.marginRight{margin-right:15px !important;}

/*=========================================================
                        Padding
=========================================================*/

.noPadding{padding:0px !important;}

.paddingHorizontal{padding:0px 15px !important;}

.paddingVertical{padding:15px 0px!important;}

.paddingTop{padding-top:15px !important;}

.paddingBottom{padding-bottom:15px !important;}

.paddingLeft{padding-left:15px !important;}

.paddingRight{padding-right:15px !important;}

/*=========================================================
                        Wrapper & Main
=========================================================*/
#wrapper {
    width: 100%;
    margin: 0 auto; 
}
  
#main {
    padding-top:0;
    /* background-color: #f2f2f2; */
    background-color: #ffffff;
}

/*=========================================================
                        Header
=========================================================*/
/* #header:after {
    background-image: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
    background-repeat: repeat-x;
    content: "";
    height: 50px;
    margin-top: 2px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: -1;
} */
#header {
    border-top:5px solid #ff5555;
    position: relative;
    width:100%;
    height:84px;
    top: 0;
    left: 0;
    z-index: 999;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f8f8f8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f8f8f8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f8f8f8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s; 
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');
}

#header.inner{
    height:48px;
    top:0;
}

#header.inner.innerFixed{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.97);
    position:fixed;
    top:0;    
    -moz-transition: all 1s ease-out;  /* FF4+ */
    -o-transition: all 1s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 1s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 1s ease-out;  /* IE10? */
    transition: all 1s ease-out;
}
  
#header #logo {
    height:60px;
    width:auto;
    margin:10px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#header.inner #logo{
    height:30px;
    margin:3px 0;
}

.header-login input, .header-login .btn{border-radius:0;}

.headerRegister{margin-bottom:10px;}

.headerRegister a {
    font-size:14px;
}

#header.inner .custom-search-form{
    margin-top:5px;
    width:100%;
}

#header.inner .form-control,#header.inner .btn{
    padding:2px 12px;
}

#header.inner .btn .glyphicon{top:3px}

#header .login{margin-top:4px;}

#header.inner ol > li{display:inline; padding-right:10px; float:right;}

#header.inner ol > li name{padding-top:5px; float:right; margin-left:5px;}

/*=========================================================
                        Page
=========================================================*/




@media( max-width : 585px ){
    
    .board {
width: 90%;
height:auto !important;
}
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
        }
    .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.btn-outline-rounded {
    padding:12px 20px;
    }
}

/*=========================================================
                        user section5
=========================================================*/
.coralbg {
    background-color: #FA396F;
} 

.coral {
    color: #FA396f;
}

.turqbg {
    background-color: #46D8D2;
}

.turq {
    color: #46D8D2;
}

.white {
    color: #fff!important;
}

.fa-3x{font-size:19.2px !important;}

/* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */
div.user-menu-container {
  z-index: 10;
  background-color: #fff;
  margin-top: 0;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

div.user-menu-container .btn-lg {
    padding: 0px 12px;
}

div.user-menu-container h4 {
    font-weight: 300;
    color: #8b8b8b;
}

div.user-menu-container a, div.user-menu-container .btn  {
    transition: 1s ease;
}

div.user-menu-container .thumbnail {
   width:auto;
   min-height:100px;
   height:250px;
   max-height:250px;
   margin:0;
   border: 0px!important;
   padding: 0px;
   border-radius: 0;
   border: 0px!important;
}

/* -- Vertical Button Group -- */
div.user-menu-container .btn-group-vertical {
    display: block;
}

div.user-menu-container .btn-group-vertical>a, div.user-menu-container .btn-group-vertical .po-markup > a {
    padding: 11px 25px;
    background-color: #46D8D2;
    color: white;
    border-color: #fff;
    border-radious:0;
}

div.btn-group-vertical>a:hover {
    color: white;
    border-color: white;
}

div.btn-group-vertical>a.active {
    background: #FA396F;
    box-shadow: none;
    color: white;
}

.po-body h4{
    font-size:120% !important;    
}

.po-body p{
    font-size:10px !important;    
} 

/* -- Individual button styles of vertical btn group -- */
div.user-menu-btns {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
/* -- The main tab & content styling of the vertical buttons info-- */
div.user-menu-content {
    color: #323232;
}

ul.user-menu-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #eee;
}
ul.user-menu-list>li {
    padding-bottom: 8px;
    text-align: center;
}

div.user-menu div.user-menu-content:not(.active){
  display: none;
}

/* -- The btn stylings for the btn icons -- */
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}

/* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */

.user-pad {
    padding: 20px 25px;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.user-details {
    background: #eee;
}

.user-image {
  max-height:250px;
  overflow:hidden;
}

.section5Picture{
    position:absolute;
}

.overview h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
}

.overview h4 {
    font-weight: bold!important;
    font-size: 25px;
    margin-top: 0;
}

.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}
 
.view .caption {
    position:absolute;
    top:0;
    right:0;
    background: rgba(70, 216, 210, 0.44);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.view .caption a {
    padding-right: 10px;
    color: #fff;
}

.info {
    display: block;
    padding: 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.info p, .stats p {
    margin-bottom: 0;
}

.stats {
    display: block;
    padding: 10px;
    color: white;
}

.share-links {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}

/*=========================================================
                        section5
=========================================================*/
#featuredsection5 .featuredImage {
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #e4e4e4;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

#featuredsection5 .featuredBanner {
    left: -3px;
    position: absolute;
    top: 7px;
}

#featuredsection5 .featuredImage img, #featuredsection5 table {
    margin: 0 auto;
}

#featuredsection5 thead th {
    font-size: 49px;
    font-weight: 300;
}

/*=========================================================
                        Art Title
=========================================================*/
.art-title{color:#231f20; font-size:20px; font-weight:700;}
.artist-data{width:100%; padding-bottom: 25px;}
.artst-pic{width:33%;position: relative;}
.artst-pic span a{color: #fff; font-size: 16px; display: none;}
.artst-pic span.artst-like{position: absolute; left: 11%; bottom: 10px;}
.artst-pic span.artst-share{position: absolute; left:46%; bottom: 10px;}
.artst-pic span.artst-plus{position: absolute; right: 9%; bottom: 10px;}
.artst-prfle{width:63%;}
.artst-prfle span.artst-sub{font-size:15px; color:#bbb; float:left; width:100%; font-weight:normal; padding:5px 0;}
.artst-prfle span.artst-sub span.byname{font-weight:700; color:#aaa;}
.artst-prfle span.artst-sub span.daysago{float:right; font-size:12px;}
.counter-tab{float: left; width: 100%; padding-top: 45px;}
.counter-tab div{float: left; width: 33%; color: #aaa; font-size: 12px;}
.bot-links{float: left; width: 100%; padding-top: 10px;}
.bot-links a{display: inline-block; padding: 5px; background: #ccc; font-size: 12px; margin-bottom: 5px; color: #9c9c9c; text-decoration:none;}
span.play-icon{position: absolute; left: 31%; top: 32%; display: none;}
.artst-pic:hover img.play-icon, .artst-pic:hover span a{display: block; } 

/*=========================================================
                        Panel Default
=========================================================*/
.panel-default{
    text-align:center;
    cursor:pointer;
    font-family: 'Raleway',sans-serif;
}
.panel-default > .panel-footer {
    color: #fff;
    background-color: #47c8ed;    
    display:none;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
.panel-default i{
    font-size: 5em;
}

/*=========================================================
                        User Panel
=========================================================*/
/*Reusing bootstrap 3 panel CSS */
.panel {
    background-color: #FFFFFF;
    /* border: 1px solid rgba(0, 0, 0, 0); */
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}   

.panel-primary {
    border-color: #428BCA;
}   

.panel-primary > .panel-heading {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
}   

.panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}   

.panel-title {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}   

.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}   

.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}   

.panel-body:after {
    clear: both;
}   

.panel-body {
    padding: 15px;
}   

.panel-footer {
    background-color: #F5F5F5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #DDDDDD;
    padding: 10px 15px;
}

/* CSS from v3 snipp */
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

/*=========================================================
                        Bs Wizard
=========================================================*/
.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 40px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }


/*=========================================================
                        Footer
=========================================================*/

footer{
    background:url(../images/footer_bg.jpg) repeat top left;
    text-align:center;
    margin-top:25px;
}

footer .nav-tabs{
    display: inline-block; 
    text-align: left;    
    border-bottom:none;
}

footer .nav-tabs li{
    list-style:none;
    line-height:30px;
    border:none;
    text-align:center;
}

footer .nav-tabs li a {
    padding:0 15px;
    border:none;
    border-radius:0;
    font-size:15px;
}

footer p.copy{
    color:#999999;    
}

/*=========================================================
                        iNPUT
=========================================================*/
.required-field-block {
    position: relative;   
}

.required-field-block .required-icon {
    display: inline-block;
    vertical-align: middle;
    margin: -0.25em 0.25em 0em;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    padding: 0.5em 0.8em;
    color: rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 0.325em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    transition: background 0.1s linear;
    font-size: 75%;
}
    
.required-field-block .required-icon {
    background-color: transparent;
    position: absolute;
    top: 0em;
    right: 0em;
    z-index: 10;
    margin: 0em;
    width: 30px;
    height: 30px;
    padding: 0em;
    text-align: center;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
    position: absolute;
    content: "";
    right: 15px;
    top: 0px;
    z-index: -1;
    width: 0em;
    height: 0em;
    border-top: 0em solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 0em solid transparent;
    border-right-color: inherit;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text {
    color: #B80000;
    font-size: 26px;
    margin: -2px 0 0 -16px;
}
/* Required field END */

/*=========================================================
                        Social links
=========================================================*/

ul.social-links {
    margin:0px;
    padding:0px;
    list-style-type: none;
}
.social-links > li {
    display:inline;
    position:relative;
}
.social-links li a, .social-links li a span {
    width:30px;
    height:30px;
    line-height:30px;
    font-size:18px;
    display:block;
    text-align:center;
}
.social-links li a:before, .social-links li a span:before {
    font-size:18px;
    margin-right:0px;
}
.social-links a:hover, .team-box .social-links a:hover {
    color:#eeeeee;
}
.social-links > li {
    line-height:30px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}
.social-links > li > a {
    width:30px;
    color:#999999;
    height:30px;
    position:relative;
    display:inline-block;
    padding:0;
    background-color:transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.social-links li a span {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateX(-89deg);
    -moz-transform: rotateX(-89deg);
    transform: rotateX(-89deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.ie-lt-10 .social-links li a span {
    display:none;
}
.social-links > li > a:hover {
    -webkit-transform: rotateX(88deg) translateY(-20px);
    -moz-transform: rotateX(88deg) translateY(-20px);
    transform: rotateX(88deg) translateY(-20px);
}
.social-links li a.fa-facebook span {
    background-color:#709bd6;
}
.social-links li a.fa-twitter span {
    background-color:#69ecea;
}
.social-links li a.fa-linkedin span {
    background-color:#01649b;
}
.social-links li a.fa-google-plus span {
    background-color:#e66b45;
}


@media (max-width: 480px) {
    .visible-xxs-block {
        display:block !important;
    }

    .registerBnt span, .loginBnt span{display:none}
    .title{font-size:24px;}
}

@media (max-width: 767px) {
    #header, #header.inner{height:auto}
    
    .header-login{margin-bottom:5px}
    
    .user-image {
        max-height: 400px;
    }
    
    ul.social-links {
        margin-top: 15px;
    }
	
	#inset{
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 768px) {
    div.user-menu-container .thumbnail{float:right;}
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (min-width: 1280px) { 
    footer p.copy{
        text-align:left
    }        
    
    .social-links > li{
        float:right    
    }
}

.top50{
    margin-bottom:25px;    
}

.panel > .list-group .list-group-item:first-child {
    /*border-top: 1px solid rgb(204, 204, 204);*/
}

@media (min-width: 1600px) {
    .navbar-default .navbar-nav > li > a{font-size:20px;}
    
    .form-control{
        font-size:15px;
        height:auto;    
    }
    
    .btn{font-size:17px;}
    
    .introName{font-size:250%}
    
    .bs-wizard > .bs-wizard-step > .progress{
        margin:15px 0;    
    }
    
    #firsttime_section5{font-size:200%;}
    
    small{font-size:12px}
    
    footer{
        width:100%;
        bottom:0;
        z-index:214;
        height:185px;
        
    }
    
    h3, .h3{
        font-size: 22px !important    
    }

  	h4.post-title{font-size:18px}
}

.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*Added by Ash*/
h4,.h4 {font-size: 15px;}