.map {
  position: relative;
  margin:0;
  color:#333333;
  text-align:left;
}
.map .googleMap {
  width: 100%;
  height: 500px;
}
.map .googleMap .googleMap-description {
  position: relative;
  width: 300px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}
.map .googleMap .googleMap-description .googleMap-triangle {
  position: absolute;
  left: -20px;
  top: 40px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #243c7f transparent transparent;
}
.map .googleMap .googleMap-description .googleMap-triangle .googleMap-triangle-inside {
  position: absolute;
  top: -18px;
  left: 4px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 18px 18px 18px 0;
  border-color: transparent #ffffff transparent transparent;
}
.map .googleMap .googleMap-description .map-description-header {
  padding: 30px 0px 0px 30px;
  width: 100%;
}
.map .googleMap .googleMap-description .map-description-header .logo {
  font-size: 24px;
}
.map .googleMap .googleMap-description .map-description-footer {
  padding: 10px 0px 30px 30px;
}