<link rel="stylesheet" href="m_assets/jQuery-mobile/css/jquery.mobile-1.4.5.css">

<!-- Include Font Awesome stylesheets -->
<link rel="stylesheet" href="m_assets/fontAwesome/css/font-awesome.min.css">

<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.3.4/css/jquery.mmenu.all.min.css'>

<!-- Include Custom stylesheets -->
<link rel="stylesheet" href="m_assets/css/custom.css">
<link rel="stylesheet" href="m_assets/css/space.css">

<!-- Include the jQuery library -->
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

</head>

<body>
	<!-- Start of second page: #section-search -->
    <div data-role="page" id="section-search" data-theme="a">
    
        <!-- header -->
        <div data-role="header" class="nav-glyphish-example" data-theme="b">
            <div data-role="navbar" class="nav-glyphish-example" data-grid="d">
                <ul>
                    <li><a href="index.html" class="ui-btn ui-shadow ui-corner-all ui-btn-b" id="home" data-icon="custom"></a></li>
                    <li><a href="search.html" class="ui-btn ui-shadow ui-corner-all" id="search" data-icon="custom"></a></li>
                    <li><a href="message.html" class="ui-btn ui-shadow ui-corner-all" id="email" data-icon="custom"></a></li>
                    <li><a href="notification.html" class="ui-btn ui-shadow ui-corner-all"  id="notification" data-icon="custom"></a></li>
                    <li><a href="navigation.html" class="ui-btn ui-shadow ui-corner-all"  id="skull" data-icon="custom"></a></li>
                </ul>
            </div>
        </div><!-- /header -->
    
        <div role="main" class="ui-content">
            
            <div data-role="footer">
                <div id="formNav" data-role="navbar" data-iconpos="left">
                    <ul class="ui-nodisc-icon ui-alt-icon">
                        <li><a href="filter_search.html" data-icon="search">Advance Search</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->

            <!-- Search result appand here -->
            <ul data-role="listview" class="hb-mt-20">
                <li data-icon="false">
                	<a href="#">
                    	<div class="ui-grid-a">
                            <div class="pictureWrap">
                                <div id="inset" class="xs">
                                    <h1>HB</h1>
                                </div>
                            </div>	                        	
                            <h2>Hasib Bin SIddique</h2>
                            <p><small>Male, Single</small></p>
                        </div>
                    </a>
                </li>
                <li data-icon="false">
                	<a href="#">
                    	<div class="ui-grid-a">
                            <div class="pictureWrap">
                                <img src="m_assets/images/pp-4-OoEpt9bm_m.jpg" alt="" />
                            </div>	                        	
                            <h2>
                                Nikhil Monga<br />
                            </h2>
                            <p><small>Male, Single</small></p>
                        </div>
                    </a>
                </li>
                <li data-icon="false">
                	<a href="#">
                    	<div class="ui-grid-a">
                            <div class="pictureWrap">
                                <div id="inset" class="xs">
                                    <h1>HB</h1>
                                </div>
                            </div>	                        	
                            <h2>Hasib Bin SIddique</h2>
                            <p><small>Male, Single</small></p>
                        </div>
                    </a>
                </li>
                <li data-icon="false">
                	<a href="#">
                    	<div class="ui-grid-a">
                            <div class="pictureWrap">
                                <img src="m_assets/images/pp-4-OoEpt9bm_m.jpg" alt="" />
                            </div>	                        	
                            <h2>
                                Nikhil Monga<br />
                            </h2>
                            <p><small>Male, Single</small></p>
                        </div>
                    </a>
                </li>
                <li data-icon="false">
                	<a href="#">
                    	<div class="ui-grid-a">
                            <div class="pictureWrap">
                                <div id="inset" class="xs">
                                    <h1>HB</h1>
                                </div>
                            </div>	                        	
                            <h2>Hasib Bin SIddique</h2>
                            <p><small>Male, Single</small></p>
                        </div>
                    </a>
                </li>
                <li data-icon="false">
                	<a href="#">
                    	<div class="ui-grid-a">
                            <div class="pictureWrap">
                                <img src="m_assets/images/pp-4-OoEpt9bm_m.jpg" alt="" />
                            </div>	                        	
                            <h2>
                                Nikhil Monga<br />
                            </h2>
                            <p><small>Male, Single</small></p>
                        </div>
                    </a>
                </li>
                <li data-icon="false">
                	<a href="#">
                    	<div class="ui-grid-a">
                            <div class="pictureWrap">
                                <div id="inset" class="xs">
                                    <h1>HB</h1>
                                </div>
                            </div>	                        	
                            <h2>Hasib Bin SIddique</h2>
                            <p><small>Male, Single</small></p>
                        </div>
                    </a>
                </li>
                <li data-icon="false">
                	<a href="#">
                    	<div class="ui-grid-a">
                            <div class="pictureWrap">
                                <img src="m_assets/images/pp-4-OoEpt9bm_m.jpg" alt="" />
                            </div>	                        	
                            <h2>
                                Nikhil Monga<br />
                            </h2>
                            <p><small>Male, Single</small></p>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- Search result appand here -->
        </div><!-- /content -->
    
    </div><!-- /page search -->
    
    <!-- Include the jQuery Mobile library -->
	<script src="m_assets/jQuery-mobile/js/jquery.mobile-1.4.5.min.js"></script> 
    
</body>
</html>